@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Comfortaa:wght@300;400;500&display=swap');

/*
=================
Styling Variables
=================
*/


$Primary: rgb(9, 103, 197);
$Secondary: scale-color($Primary, $lightness: 70%);
$Tertiary: scale-color(rgb(174,238,238), $lightness: 85%);
$LightFont: scale-color($Primary, $lightness: 95%);
$Dark: scale-color($Primary, $lightness: -40%);
$SuperDarkFont: scale-color($Dark, $lightness: -50%);

/*
============
Main Styles
============
*/

body {
  margin: 0;
  // background-color: $Secondary;
  background: rgb(174,238,238);
  background: linear-gradient(90deg, rgba(174,238,238,1) 0%, rgba(73,165,255,0.5718662464985995) 100%);
}
.app {
  display: flex;
}
.main {
  padding: 4em;
  // background-color: $Secondary;
  margin: 0 auto;
}

/*
==============
Navbar Styles
==============
*/

.navbar-container {
  display: flex;
  flex-direction: column;
  background-color: $Dark;
  height: 5em;
  align-items: center;
  padding: 2em 1em 2em 1em;
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid $Primary;
}

.navbar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-logo {
  color: $Tertiary;
  cursor: pointer;
  user-select: none;
}

.navbar-greeting {
  font-family: Comfortaa;
  color: $Tertiary;
  user-select: none;
}

.navbar-routes {
  display: flex;
  flex-direction: column;
}

.navbar-routes > button {
  margin: 1em;
  cursor: pointer;
  color: $SuperDarkFont;
  font-size: 12pt;
  background-color: $Tertiary;
  border: 1px solid $Primary;
  border-radius: 5px;
  width: 8em;
  height: 2em;
  font-family: Comfortaa;
}

.navbar-routes > button:hover {
  color: $Tertiary;
  background-color: $Primary;
}

/*
=====================
Main Container Styles
====================
*/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
========================
Control Container Styles
========================
*/

.control-container {
  display: flex;
  justify-content: center;
}

.control-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-btn {
  margin: 2em 5em 1em 5em;
  padding: 1em;
  width: 11em;
  border-radius: 15px;
  cursor: pointer;
  font-family: Comfortaa;
  // font-style: light;
  font-size: 1.25em;
  color: $Tertiary;
  background-color: $Dark;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  user-select: none;
}

.control-btn:hover {
  color: $Tertiary;
  background-color: $Primary;
}

/*
==========================
Information Display Styles
==========================
*/

.information-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  color: $SuperDarkFont;
  border: 2px solid;
  border-color: $Primary;
  border-radius: 3px;
  padding: 0 25em 1em 25em;
  margin: 5em 0 5em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  background: $Tertiary;
}

/*
======================
Data Container Styles
======================
*/

.data-container {
  display: flex;
  flex-direction: column;
}

.data-button {
  margin: 2em;
  height: 3em;
  font-size: 1.5em;
  width: 50vw;
  cursor: pointer;
  background-color: $Primary;
  color: white;
  border: 2px solid white;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-button:hover {
  background-color: $Secondary;
  color: $Primary;
  border-color: $Primary;
}

.data-btn-label {
  margin-left: auto;
}

.data-btn-icon {
  margin-left: auto;
  margin-right: 1em;
}
/*
=============
Modal Styles
=============
*/

.modal-container {
  position: absolute;
  z-index: 100;
  background: $Tertiary;
  border: 1px solid $Primary;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  color: $SuperDarkFont;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  font-family: Comfortaa;
}

.modal-header > button {
  height: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: Comfortaa;
  font-weight: bolder;
  font-size: 1.5em;
  color: $SuperDarkFont
}

.modal-header > button:hover {
  color: red;
}

.modal-inputs {
  margin: 0.5em;
}

.modal-inputs > input {
  margin: 0.5em;
  font-family: Comfortaa;
  color: $SuperDarkFont;
}
