$Primary: rgb(9, 103, 197);
$Secondary: scale-color($Primary, $lightness: 70%);
$Tertiary: scale-color(rgb(174, 238, 238), $lightness: 85%);
$LightFont: scale-color($Primary, $lightness: 95%);
$Dark: scale-color($Primary, $lightness: -40%);
$SuperDarkFont: scale-color($Dark, $lightness: -50%);
$NavbarWidth: 17em;

:export {
  primaryColor: $Primary;
  secondaryColor: $Secondary;
  tertiaryColor: $Tertiary;
  lightFontColor: $LightFont;
  darkColor: $Dark;
  superDarkFontColor: $SuperDarkFont;
}
